#certs-container {
    margin: 0;
    width: 100vw;
    max-width: 100vw;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.certs-item { /*for reasons that escape me having only three columns causes the width of the page to expand a bit, in spite of my hax to make sure it doesn't. but then 4 is fine?????*/
    display: flex;
    flex-wrap: wrap;
    margin:1em;
    min-width:240px;
    max-width:22.5vw;
    height: 45vh;
    justify-content:center;
    align-items:flex-end;
    text-align: center;
    color:#ffffff;
    padding:0;
}

.certs-text {
    font-size: 2em;
    align-self: flex-end;
}

.certs-item img {
    display: block;
    max-width:70%;
    max-height:60%;
}