#certs-container {
    margin: 0;
    width: 100%;
    max-width: 100%;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.certs-item {
    display: flex;
    flex-wrap: wrap;
    margin:1em;
    min-width:240px;
    max-width:22.5vw;
    height: 45vh;
    justify-content:center;
    align-items:flex-end;
    text-align: center;
    color:#ffffff;
    padding:0;
    transition: filter 0.15s, transform 0.15s;
}

.certs-item:hover {
    transition: filter 0.15s ease-out, transform 0.15s ease-out;
    filter: brightness(120%);
    transform: scale(1.15, 1.15);
}

.certs-text {
    font-size: 2em;
    align-self: flex-end;
}

.certs-item img {
    display: block;
    max-width:70%;
    max-height:60%;
}

@media only screen and ((max-width: 759px) or (max-width:5in)){
    .certs-item {
        height:25vh;
    }
  }